body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
}
h1 {
    position: absolute;
    top: 10%;
    left: 42%;    
}   
h2 {
    position: absolute;    
    top: 40%;
    left: 45%;    
}
a {
    position: absolute;
    top: 80%;
    left: 50%;    
}