body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.counter-container {
    position: absolute;
    top: 10%;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000; /* Рамка */
    border-radius: 25%;
    background-color: #000000; /* Фон */
    padding: 10px; /* Отступ внутри рамки */
    z-index: 1; /* Убедимся, что контейнер выше других элементов */
}

#counter, #counter1, p {
    font-size: 200px;
    margin: 0;
    color: aliceblue;
}

#counter, p {
    position: relative;
    z-index: 2; /* p будет выше #counter */
}

#counter1 {
    position: absolute;
    right: 10px;
    top: 10%;
    color: #000000;
}

button {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    padding: 10px 20px; 
    font-size: 16px; 
}

img {
    width: 200px;
    height: 250px;
}


@media (max-width: 600px) {
    .counter-container {
        top: 5%; /* Уменьшаем отступ сверху */
        left: 5px; /* Уменьшаем отступ слева */
        padding: 5px; /* Уменьшаем внутренний отступ */
    }

    #counter, #counter1, p {
        font-size: 80px; /* Уменьшаем размер шрифта */
    }

    #counter1 {
        right: 5px; /* Уменьшаем отступ справа */
        top: 5%; /* Уменьшаем отступ сверху */
    }

    button {
        padding: 8px 16px; /* Уменьшаем отступы кнопки */
        font-size: 14px; /* Уменьшаем размер шрифта кнопки */
        top: 40%; /* Сдвигаем кнопку выше */
    }

    img {
        width: 150px; /* Уменьшаем ширину изображения */
        height: 200px; /* Уменьшаем высоту изображения */
    }
}