body {
    font-family: Arial, Helvetica, sans-serif;
}

#f {
    position: absolute;
    top: 68.7%; 
    left: 51.6%; 
    transform: translate(-50%, -50%);
    width: 1024px;
    height: 845px;
}

#star {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 11.6%;
}


#counter, #counter1 {
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: 40px;
}

#counter {
    position: absolute;
    left: 53px;
    top: 11.6%;
}

#counter1 {
    position: absolute;
    right: 10px;
    top: 11.6%;
    color: #000000;
}

button {
    position: absolute;
    top: 60%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

img {
    width: 200px;
    height: 250px;
}

body {
    background: radial-gradient(circle farthest-side at 50% 100%, #ffffff, #858585);
}